In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('customer.csv')

In [3]:
df.sample(5)

    age  gender   review education purchased
23   96  Female     Good    School        No
48   39  Female     Good        UG       Yes
28   48    Male     Poor    School        No
4    16  Female  Average        UG        No
44   77  Female  Average        UG        No

In [4]:
df = df.iloc[:,2:]

In [5]:
df

     review education purchased
0   Average    School        No
1      Poor        UG        No
2      Good        PG        No
3      Good        PG        No
4   Average        UG        No
5   Average    School       Yes
6      Good    School        No
7      Poor    School       Yes
8   Average        UG        No
9      Good        UG       Yes
10     Good        UG       Yes
11     Good        UG       Yes
12     Poor    School        No
13  Average    School        No
14     Poor        PG       Yes
15     Poor        UG        No
16     Poor        UG       Yes
17     Poor        UG       Yes
18     Good    School        No
19     Poor        PG       Yes
20  Average    School       Yes
21  Average        PG        No
22     Poor        PG       Yes
23     Good    School        No
24  Average        PG       Yes
25     Good    School        No
26     Poor        PG        No
27     Poor        PG        No
28     Poor    School        No
29  Average        UG       Yes
30  Average        UG        No
31     Poor    School       Yes
32  Average        UG       Yes
33     Good        PG       Yes
34  Average    School        No
35     Poor    School       Yes
36     Good        UG       Yes
37  Average        PG       Yes
38     Good    School        No
39     Poor        PG        No
40     Good    School        No
41     Good        PG       Yes
42     Good        PG       Yes
43     Poor        PG        No
44  Average        UG        No
45     Poor        PG       Yes
46     Poor        PG        No
47     Good        PG       Yes
48     Good        UG       Yes
49     Good        UG        No

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)

In [7]:
x_train

     review education
24  Average        PG
35     Poor    School
34  Average    School
45     Poor        PG
42     Good        PG
16     Poor        UG
5   Average    School
13  Average    School
22     Poor        PG
18     Good    School
11     Good        UG
39     Poor        PG
14     Poor        PG
12     Poor    School
7      Poor    School
37  Average        PG
23     Good    School
49     Good        UG
41     Good        PG
44  Average        UG
4   Average        UG
47     Good        PG
31     Poor    School
9      Good        UG
29  Average        UG
0   Average    School
3      Good        PG
48     Good        UG
40     Good    School
6      Good    School
25     Good    School
32  Average        UG
10     Good        UG
1      Poor        UG
30  Average        UG
15     Poor        UG
28     Poor    School
43     Poor        PG
21  Average        PG
20  Average    School

In [8]:
y_train

24    Yes
35    Yes
34     No
45    Yes
42    Yes
16    Yes
5     Yes
13     No
22    Yes
18     No
11    Yes
39     No
14    Yes
12     No
7     Yes
37    Yes
23     No
49     No
41    Yes
44     No
4      No
47    Yes
31    Yes
9     Yes
29    Yes
0      No
3      No
48    Yes
40     No
6      No
25     No
32    Yes
10    Yes
1      No
30     No
15     No
28     No
43     No
21     No
20    Yes
Name: purchased, dtype: object

In [9]:
x_test

     review education
26     Poor        PG
27     Poor        PG
17     Poor        UG
38     Good    School
33     Good        PG
36     Good        UG
46     Poor        PG
8   Average        UG
19     Poor        PG
2      Good        PG

In [10]:
y_test

26     No
27     No
17    Yes
38     No
33    Yes
36    Yes
46     No
8      No
19    Yes
2      No
Name: purchased, dtype: object

In [11]:
from sklearn.preprocessing import OrdinalEncoder

In [12]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [13]:
oe.fit(x_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [14]:
x_train = oe.transform(x_train)
x_test = oe.transform(x_test)

In [15]:
x_train

array([[1., 2.],
       [0., 0.],
       [1., 0.],
       [0., 2.],
       [2., 2.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 2.],
       [2., 0.],
       [2., 1.],
       [0., 2.],
       [0., 2.],
       [0., 0.],
       [0., 0.],
       [1., 2.],
       [2., 0.],
       [2., 1.],
       [2., 2.],
       [1., 1.],
       [1., 1.],
       [2., 2.],
       [0., 0.],
       [2., 1.],
       [1., 1.],
       [1., 0.],
       [2., 2.],
       [2., 1.],
       [2., 0.],
       [2., 0.],
       [2., 0.],
       [1., 1.],
       [2., 1.],
       [0., 1.],
       [1., 1.],
       [0., 1.],
       [0., 0.],
       [0., 2.],
       [1., 2.],
       [1., 0.]])

In [16]:
x_test

array([[0., 2.],
       [0., 2.],
       [0., 1.],
       [2., 0.],
       [2., 2.],
       [2., 1.],
       [0., 2.],
       [1., 1.],
       [0., 2.],
       [2., 2.]])

In [17]:

oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

# Label Encoding

In [18]:
from sklearn.preprocessing import LabelEncoder

In [19]:
le=LabelEncoder()

In [20]:
le.fit(y_train)

LabelEncoder()

In [21]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [22]:

y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [23]:
y_train

array([1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1])

In [24]:
df

     review education purchased
0   Average    School        No
1      Poor        UG        No
2      Good        PG        No
3      Good        PG        No
4   Average        UG        No
5   Average    School       Yes
6      Good    School        No
7      Poor    School       Yes
8   Average        UG        No
9      Good        UG       Yes
10     Good        UG       Yes
11     Good        UG       Yes
12     Poor    School        No
13  Average    School        No
14     Poor        PG       Yes
15     Poor        UG        No
16     Poor        UG       Yes
17     Poor        UG       Yes
18     Good    School        No
19     Poor        PG       Yes
20  Average    School       Yes
21  Average        PG        No
22     Poor        PG       Yes
23     Good    School        No
24  Average        PG       Yes
25     Good    School        No
26     Poor        PG        No
27     Poor        PG        No
28     Poor    School        No
29  Average        UG       Yes
30  Average        UG        No
31     Poor    School       Yes
32  Average        UG       Yes
33     Good        PG       Yes
34  Average    School        No
35     Poor    School       Yes
36     Good        UG       Yes
37  Average        PG       Yes
38     Good    School        No
39     Poor        PG        No
40     Good    School        No
41     Good        PG       Yes
42     Good        PG       Yes
43     Poor        PG        No
44  Average        UG        No
45     Poor        PG       Yes
46     Poor        PG        No
47     Good        PG       Yes
48     Good        UG       Yes
49     Good        UG        No